<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Page Title. -->
        <title>Skeleton Theme</title>

        <!-- Include Stylesheets. -->
        <link href="{{ 'status-page.css' | asset_url }}" rel="stylesheet">
    </head>
    <body>
        <h1>Skeleton Theme</h1>

        <p>For more details on theme development, read our docs on <a href="http://docs.sorryapp.com/themes" target="_blank">theming your status page.</a></p>
    
        <!-- Include Javascripts. -->
        <script src="{{ 'status-page.js' | asset_url }}"></script>
    </body>
</html>