<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Page Title. -->
        <title>Skeleton Theme</title>

        <!-- Include Stylesheets. -->
        <link href="{{ 'status-page.css' | asset_url }}" rel="stylesheet">
    </head>
    <body>
    
        <!-- Include Javascripts. -->
        <script src="{{ 'status-page.js' | asset_url }}"></script>
    </body>
</html>